.main {
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container{
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding: 25px 0px 25px 0px;
}

.recommendation{
  font-size: 25px;
  padding: 25px 0px 0px 0px;
  max-width: 1000px;
  margin: auto;
}
.box{
  width: 250px;
  border: 1px solid black;
  border-radius: 12px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.box h1 {
  font-size: 22px;
  margin: 3px;
}

.box li{
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  display: flex;
  margin: 3px
}

.box img{
  border-top-left-radius: 10px;    /* Adjust the radius as needed */
  border-top-right-radius: 10px;   /* Adjust the radius as needed */
}